# District Summary

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#create variables for the desired vaules 
school_count = len(school_data_complete_df["school_name"].unique())
student_count = len(school_data_complete_df["Student ID"].unique())

# this variable pulls all 15 unique budget vaules, this is confirmed by the list returning 15 vaules. 
budget_values = school_data_complete_df["budget"].unique()
total_budget = sum(budget_values)

#average test scores
math_avg = school_data_complete_df["math_score"].mean()
read_avg = school_data_complete_df["reading_score"].mean()

# counts the number of students who score a 70 or above using df.loc
#df.loc looks at row that has that vaule above 70 and all columns
pass_math_count = len(school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:])
pass_read_count = len(school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:])
# these are students passing math AND reading
pass_both_count = len(school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & 
                                              (school_data_complete_df["reading_score"] >= 70),:])

#calculate and store the percent variables
percent_pass_math = pass_math_count/student_count
percent_pass_read = pass_read_count/student_count    
percent_pass_both = pass_both_count/student_count

In [4]:
#calculate and store the percent variables

def percent(x):
    num = x/student_count
    percentage = "{:.3%}".format(num)
    return(percentage)

percent_pass_math = percent(pass_math_count)
percent_pass_read = percent(pass_read_count)
percent_pass_both = percent(pass_both_count)

In [5]:
#creating a Dataframe form a list of dictionaries
summary = [{"Total Schools":school_count,
          "Total Students": "{:,}".format(student_count),
          "Total Budget": "${:,.3f}".format(total_budget),
          "Average Math Score": "{:,.3f}".format(math_avg),
          "Average Reading Score": "{:,.3f}".format(read_avg),
          "% Passing Math":percent_pass_math,
          "% Passing Reading":percent_pass_read,
          "% Passing Overall":percent_pass_both
           }]

district_summary_df = pd.DataFrame(summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.000",78.985,81.878,74.981%,85.805%,65.172%

# District Summary (DONE)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [65]:
#grouped data by school, pulled the averages and created a temp df to hold those avgerages
avgs_by_school_df = school_data_complete_df.groupby(["school_name"])
avgs_by_school_df = grouped_by_school_df.mean()
avgs_by_school_df = grouped_by_school_df[["reading_score", "math_score", "budget"]]

#formatting the columns
#avgs_by_school_df["reading_score"] = avgs_by_school_df["reading_score"].map("{:.3%}".format)
avgs_by_school_df.head()

                      reading_score  math_score     budget
school_name
Bailey High School        81.033963   77.048432  3124928.0
Cabrera High School       83.975780   83.061895  1081356.0
Figueroa High School      81.158020   76.711767  1884411.0
Ford High School          80.746258   77.102592  1763916.0
Griffin High School       83.816757   83.351499   917500.0

In [44]:
grouped_by_school_df.mean()

Student ID       1.964150e+04
reading_score    8.252919e+01
math_score       8.043253e+01
School ID        7.000000e+00
size             2.611333e+03
budget           1.643295e+06
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type