# District Summary

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#create variables for the desired vaules 
school_count = len(school_data_complete_df["school_name"].unique())
student_count = len(school_data_complete_df["Student ID"].unique())

# this variable pulls all 15 unique budget vaules, this is confirmed by the list returning 15 vaules. 
budget_values = school_data_complete_df["budget"].unique()
total_budget = sum(budget_values)

#average test scores
math_avg = school_data_complete_df["math_score"].mean()
read_avg = school_data_complete_df["reading_score"].mean()

# counts the number of students who score a 70 or above using df.loc
#df.loc looks at row that has that vaule above 70 and all columns
pass_math_count = len(school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70,:])
pass_read_count = len(school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70,:])
# these are students passing math AND reading
pass_both_count = len(school_data_complete_df.loc[(school_data_complete_df["math_score"] >= 70) & 
                                              (school_data_complete_df["reading_score"] >= 70),:])

#calculate and store the percent variables
percent_pass_math = pass_math_count/student_count
percent_pass_read = pass_read_count/student_count    
percent_pass_both = pass_both_count/student_count

In [3]:
#calculate and store the percent variables

def percent(x):
    num = x/student_count
    percentage = "{:.3%}".format(num)
    return(percentage)

per_pass_math = percent(pass_math_count)
per_pass_read = percent(pass_read_count)
per_pass_both = percent(pass_both_count)

In [4]:
#creating a Dataframe form a list of dictionaries
summary = [{"Total Schools":school_count,
          "Total Students": "{:,}".format(student_count),
          "Total Budget": "${:,.3f}".format(total_budget),
          "Average Math Score": "{:,.3f}".format(math_avg),
          "Average Reading Score": "{:,.3f}".format(read_avg),
          "% Passing Math":per_pass_math,
          "% Passing Reading":per_pass_read,
          "% Passing Overall":per_pass_both
           }]

district_summary_df = pd.DataFrame(summary)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.000",78.985,81.878,74.981%,85.805%,65.172%

# District Summary (DONE)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
#pull types and budgets from school data file
school_data_2 = school_data.set_index('school_name')

school_type = school_data_2['type']
stucount_by_school = school_data_2['size']
budget_by_school = school_data_2['budget']
spending_per_stu = budget_by_school/stucount_by_school

In [6]:
#group data by school
grouped_by_school_df = school_data_complete_df.groupby(['school_name'])

#grab student count and type by school
math_avg_by_school = grouped_by_school_df['math_score'].mean()
read_avg_by_school = grouped_by_school_df['reading_score'].mean()

In [9]:
#calculate students % passing math by school
pass_math = school_data_complete_df.loc[(school_data_complete_df['math_score'] >= 70),:]
pass_math_by_sch = pass_math.groupby('school_name')
pass_math_by_sch = pass_math_by_sch['Student ID'].count()

per_pass_math_by_sch = pass_math_by_sch/stucount_by_school
#I am certain there is a more elegant way to gather this data but this works for the time being.

In [12]:
#calculate students % passing reading by school
pass_read = school_data_complete_df.loc[(school_data_complete_df['reading_score'] >= 70),:]
pass_read_by_sch = pass_read.groupby('school_name')
pass_read_by_sch = pass_read_by_sch['Student ID'].count()

per_pass_read_by_sch = pass_read_by_sch/stucount_by_school

In [13]:
#calculate students % passing overall by school
pass_both = school_data_complete_df.loc[(school_data_complete_df['reading_score'] >= 70) &
                                           (school_data_complete_df['math_score'] >= 70),:]
pass_both_by_school = pass_both.groupby('school_name')
pass_both_by_school = pass_both_by_school['Student ID'].count()

passing_overall = pass_both_by_school/stucount_by_school

dtype('int64')

In [24]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": stucount_by_school.map("{:,}".format),
    "Per Student Budget": spending_per_stu.map("${:,}".format),
    "Total School Budget": budget_by_school,
    "Average Math Score": math_avg_by_school,
    "Average Reading Score": read_avg_by_school,
    '% Passing Math': per_pass_math_by_sch,
    '% Passing Reading': per_pass_read_by_sch,
    "Overall Passing Rate": passing_overall
})

school_summary.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976",$628.0,3124928,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,"1,858",$582.0,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,"2,949",$639.0,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,"2,739",$644.0,1763916,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,"1,468",$625.0,917500,83.351499,83.816757,0.933924,0.971390,0.905995

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type