In [1]:
# Import Dependencies
import pandas as pd

In [8]:
# Make a reference to the books.csv file path
books_file = "Resources/books.csv"
# Import the books.csv file as a DataFrame
books_df = pd.read_csv(books_file, encoding="UTF-8" )

In [18]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

books_clean_df = books_df[["isbn", "original_publication_year", "original_title", "authors",
                 "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]]

books_clean_df.head()

In [19]:
# Rename the headers to be more explanatory
rename_books_clean_df = books_clean_df.rename(columns = {
    "isbn":"ISBN", 
    "original_publication_year":"Year of Publication",
    "original_title": "Title",
    "authors": "Authors"
    })

rename_books_clean_df.head()

,ISBN,Year of Publication,Title,Authors,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [20]:
# Push the remade DataFrame to a new CSV file
rename_books_clean_df.to_csv("Output/fileOne.csv", index=False)