In [ ]:
# Dependencies
import pandas as pd

In [ ]:
# Save path to data set in a variable
data_file = "Resources/dataSet.csv"

In [ ]:
# Use Pandas to read data
data_file_df = pd.read_csv(data_file)
data_file_df.head()

In [ ]:
# Display a statistical overview of the DataFrame
data_file_df.describe()

In [ ]:
# Reference a single column within a DataFrame
data_file_df["Amount"].head()

In [ ]:
# Reference multiple columns within a DataFrame
data_file_df[["Amount", "Gender"]].head()

In [ ]:
# The mean method averages the series
average = data_file_df["Amount"].mean()
average

In [ ]:
# The sum method adds every entry in the series
total = data_file_df["Amount"].sum()
total

In [ ]:
# The unique method shows every element of the series that appears only once
unique = data_file_df["Last Name"].unique()
unique

In [ ]:
# The value_counts method counts unique values in a column
count = data_file_df["Gender"].value_counts()
count

In [5]:
# Calculations can also be performed on Series and added into DataFrames as new columns
thousands_of_dollars = data_file_df["Amount"]/1000
data_file_df["Thousands of Dollars"] = thousands_of_dollars

data_file_df.head()

   id First Name Last Name Gender   Amount  Thousands of Dollars
0   1       Todd     Lopez      M   8067.7                8.0677
1   2     Joshua     White      M   7330.1                7.3301
2   3       Mary     Lewis      F  16335.0               16.3350
3   4      Emily     Burns      F  12460.8               12.4608
4   5  Christina    Romero      F  15271.9               15.2719

In [ ]:
data_file_df['hundreds ']